<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vanging | Login</title>

</head>
<body>

<div id="app_login"></div>

<script src="dll.js"></script>
<script src="common.chunk.js"></script>
<script src="entry.js"></script>

</body>
</html>